@for $i from 1 to 10 {
	.margin-top-#{$i} {
		margin-top: $i + rem;
	}
}

@for $i from 1 to 10 {
	.margin-bottom-#{$i} {
		margin-bottom: $i + rem;
	}
}
@for $i from 1 to 10 {
	.margin-left-#{$i} {
		margin-left: $i + rem;
	}
}
@for $i from 1 to 10 {
	.margin-right-#{$i} {
		margin-right: $i + rem;
	}
}
