.header {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 2;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	transition: all 0.3s;

	&.onScroll {
		background: #fff;
		color: #000;
		top: 0;
		padding: 3rem 0;
		box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
	}

	&__inner {
		display: flex;
	}
}

.logo {
	width: 100px;
}

.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 75%;
	margin-left: auto;
	margin-bottom: 0;
	&-container {
		flex: 1;
		display: flex;
		align-items: center;
	}

	&-item {
		position: relative;
		cursor: pointer;
		margin: 0 2rem;

		&__title {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
		}

		&:hover .navigation-subItem {
			transform: translateY(0);
			display: flex;
			opacity: 1;
		}
	}

	&-subItem {
		border-radius: 5px;
		flex-wrap: wrap;
		min-width: 1000px;
		max-width: 1300px;
		margin: 0 auto;
		padding: 20px 40px;
		background: #fff;
		position: absolute;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
		transform: translateY(-20px);
		transition: opacity 0.5s, transform 0.5s;
		opacity: 0;
		transform-origin: top;
		right: 0;
		display: none;
	}

	&-subItem.list {
		min-width: initial;
		max-width: initial;

		.navigation-subItem__title {
			color: $blue-color-1;
			position: relative;

			&:hover::before {
				transform-origin: left top;
				transform: scale(1, 1);
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: 2px;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: #ffc70a;
				transform-origin: right top;
				transform: scale(0, 1);
				transition: color 0.1s, transform 0.2s ease-out;
			}
		}
	}
}
